body{
    font-family: 'Roboto', sans-serif;
    
}
section{
    width: 100%;
    margin-bottom: 0px;
    
}
h1{
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
}
.highlight{
    color: salmon;
}

.div-float{
    background-color: white;
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;


}
.div-float img{
    width: 70%;
}
/* div{
    width: 50%;
   
} */
/* Style buttons */
.btn {
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {    
    background-image: linear-gradient(45deg, rgb(248, 125, 77), rgb(235, 43, 10));
  }
  .button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
}
.latest-project{
    /* box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    background-color: white; */
    
    background-color:azure;
    overflow:auto;
    padding-bottom: 100px;
}
.img-float{
    width: 23%;
    float: left;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    margin-left: 5%;
    background-color: white;

}
.img-float img{
    width: 90%;
    margin: 4%;
}
.img-float h3{
    margin-left: 4%;
}
.img-float p{
    margin-left: 4%;
}
.navbar a{
    text-decoration: none;
    padding: 1%;
    
}
.navbar{
    text-align: right;
    font-weight: bold;
    padding: 1%;
    font-size: smaller;
}
.inquiry-sec img{
    width: 60%;
    margin: 10% 20% 5% 20%;
}
footer img{
    width: 4%;

}
.container-inq{
    position:relative;

}
.inq-left{
    position: absolute;
    text-align: left;
    top: 45%;
    left: 25%;
    font-weight: bold;
    color: white;
    font-size: 200%;
}
.inq-right{
    position: absolute;
    text-align: right;
    top: 45%;
    left: 65%;
    font-weight: bold;
    background-color:aquamarine;    
    font-size: 150%;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 25px;
    color: white;
    border-radius: 5px;

    
}